/2DPlatformerRoguelike/Library
/2DPlatformerRoguelike/.vs
2DPlatformerRoguelike/.vsconfig
/2DPlatformerRoguelike/Logs
/2DPlatformerRoguelike/obj
/2DPlatformerRoguelike/Temp
/2DPlatformerRoguelike/UserSettings
